.idea/
.vscode/

*.class

.guides/secure/grading-config/*.cfg
.guides/secure/test-libs/*

.guides/secure/test-cases/**/*.java
.guides/secure/user-libs/*.jar
.guides/secure/user-submissions/*.java
*.txt

libs/*.jar
submit/*.java
tests/*
!tests/.gitkeep

TEST-junit-*.xml
